html{
    background: #000;
    scroll-behavior: smooth;
    max-width: 100%;
}
.siteDiv{
    position: absolute;
    font-weight: 300;
    font-size: 1rem;
    left: 1rem;
    color: whitesmoke;
    z-index: 17;
}
.numberDiv{
    position: absolute;
    font-size: 1.2rem;
    right: 3rem;
    color: whitesmoke;
    z-index: 17;
}
.callus-img{
    height: 1.5rem;
    color: seashell;
    border-radius: 30%;
    background-color: seashell;
}
.toggler{
    display: none;
}
button{
    margin-left: .5rem;
    background-color: rgb(88, 88, 88);
    height: 2rem;
    width: 3rem;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 4px;
}

.m-menu{
    
    font-family: cursive;
    max-width: 100%;
    text-align: center;
    word-spacing: .5rem;
    height: 0rem;  
    padding: .5rem;
    z-index: 1;
    
    
}
a{
    color: ivory;
    font-weight: 800;
    font-family: cursive;

}
a:hover{
    border-radius: 6px;
    color: #790a0a;
    transition: .4s;
}
.current{
    color: #790a0a;
}
.s-li{
    background-color: rgb(0, 0, 0);
    font-size: 1rem;
    color: ivory;
    width: 100%;
    top: 0rem;
    padding: .5rem;
    left: 0rem;
    position: absolute;
}

.drop:hover{
    border-radius: 6px;
    color: #790a0a;
    transition: .3s;
    cursor: pointer;
    font-weight: bolder;

}

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 10%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color: none; 
      transition: .6s;
      color:rgb(218, 0, 0);
    }
     
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
      display: block;}



      ul#menu li{
        text-decoration: none;
        list-style: none;
        display: inline;
        padding: 1rem;
    }
    #mainH{
        font-size: 4.7rem;
    
    }
    #subH{
        font-size: 2rem;
    
    }
    /*TITLES*/
    
    .dogstitle{
        display: inherit;
    
    }
    .titlehr{
        margin: 1rem;
    }
    .bloodhound{
        font-size: 4rem;
        padding: 1rem;
    
    }
    .separatorhr{
        display: none;
    
    }
    
    
    
    /*slides*/
    h2{
        font-size: 4rem;
    }
    #frame {
        
        margin: 0 auto;
        max-width: 100%;
        text-align: center;
        
    }
    
      
    #frame input[type=radio] {
        display: none;
        margin-top: 0rem;
    }
      
    #frame label {
        cursor: pointer;
        
    }
    
    #overflow {
        max-width: 100%;
        overflow: hidden;
    }
    
    #slides {
        height: 40rem;
        padding: 1px;
        max-width: 100%;
        border: 1px solid rgb(0, 0, 0);
        background: rgb(2, 2, 34);
        position: inherit;
        z-index: 1;
        
    }
      
    
    #frame1:checked~#slides .inner {
        margin-left: 0;
    }
      
    #frame2:checked~#slides .inner {
        margin-left: -100%;
    }
      
    #frame3:checked~#slides .inner {
        margin-left: -200%;
    }
      
    #frame4:checked~#slides .inner {
        margin-left: -300%;
    }
      
    #slides .inner {
        transition: margin-left 800ms 
            cubic-bezier(0.770, 0.000, 0.175, 1.000);
        width: 400%;
        line-height: 0;
        height: 500px;
    }
      
    #slides .frame {
        width: 25%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #FFF;
    }
      
    #slides .frame_1 {
        background: url(images/big.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
      
    #slides .frame_2 {
        background: url(images/menen.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
      
    #slides .frame_3 {
        background:url(images/pup4.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
      
    #slides .frame_4 {
        background: url(images/lulu.png);
        background-size: inherit;
        background-repeat: no-repeat;
    }
      
    
      
    #frame1:checked~#controls label:nth-child(2),
    #frame2:checked~#controls label:nth-child(3),
    #frame3:checked~#controls label:nth-child(4),
    #frame4:checked~#controls label:nth-child(1) {
        background: url(images/marathon.jpg) no-repeat;
        float: right;
        margin: 0 -50px 0 0;
        display: block;
    }
      
    #frame1:checked~#controls label:nth-last-child(2),
    #frame2:checked~#controls label:nth-last-child(3),
    #frame3:checked~#controls label:nth-last-child(4),
    #frame4:checked~#controls label:nth-last-child(1) {
        background: url(images/nip.jpg) no-repeat;
        float: left;
        margin: 0 0 0 -50px;
        display: block;
    }
      
    #bullets {
        margin: 10px;
        text-align: center;
    }
      
    #bullets label {
        
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: rgb(255, 255, 255);
        margin: 6rem 15px;
        
    }
    
    
    #bullets label:hover{
        background: red;
        transition: .4s;
        
    
    }
      
    #frame1:checked~#bullets label:nth-child(1),
    #frame2:checked~#bullets label:nth-child(2),
    #frame3:checked~#bullets label:nth-child(3),
    #frame4:checked~#bullets label:nth-child(4) {
        background: #444;
    }
    h3{
        font-size: 2rem;
        animation: fadeUp 1.1 forwards;
        animation-delay: 3.4s;
    }
    
    
    


/*sections*/
/* FIRST SECTION*/
.first-s{
    height: 25rem;
    max-width: 100%;
    background: #FFF;
    padding: 1rem;
    font-family: monospace;
    font-size: 2rem;
    border-radius: .5%;

}
/* SECOND SECTION*/
.second-s{
    height: 25rem;
    max-width: 100%;
    background: #fff;
    text-align: right;
    padding: 1rem;
    font-family: monospace;
    font-size: 2rem;
    border-radius: .5%;

}
/* THIRD SECTION*/
.third-s{
    height: 27rem;
    max-width: 100%;
    background: #FFF;
    padding: 1rem;
    font-family: monospace;
    font-size: 2rem;
    border-radius: .5%;

}
    