html{
    background: #000;
    scroll-behavior: smooth;
    max-width: 100%;
}
.siteDiv{
    position: absolute;
    font-weight: 300;
    font-size: 1rem;
    left: 1rem;
    color: whitesmoke;
    z-index: 17;
}
.numberDiv{
    position: absolute;
    font-size: 1.2rem;
    right: 3rem;
    color: whitesmoke;
    z-index: 17;
}
.callus-img{
    height: 1.5rem;
    color: seashell;
    border-radius: 30%;
    background-color: seashell;
}
.toggler{
    display: none;
}
button{
    margin-left: .5rem;
    background-color: rgb(88, 88, 88);
    height: 2rem;
    width: 3rem;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 4px;
}

.m-menu{
    
    font-family: cursive;
    max-width: 100%;
    text-align: center;
    word-spacing: .5rem;
    height: 0rem;  
    padding: .5rem;
    z-index: 1;
    
    
}
a{
    color: ivory;
    font-weight: 800;
    font-family: cursive;

}
a:hover{
    border-radius: 6px;
    color: #790a0a;
    transition: .4s;
}
.current{
    color: #790a0a;
}
.s-li{
    background-color: rgb(0, 0, 0);
    font-size: 1rem;
    color: ivory;
    width: 100%;
    top: 0rem;
    padding: .5rem;
    left: 0rem;
    position: absolute;
}

.drop:hover{
    border-radius: 6px;
    color: #790a0a;
    transition: .3s;
    cursor: pointer;
    font-weight: bolder;

}

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 10%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color: none; 
      transition: .6s;
      color:rgb(218, 0, 0);
    }
     
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
      display: block;}
